<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->

  <div class="logo" fxLayout="row" fxLayoutAlign="start center">
    <img
      class="logo"
      src="../../../../assets/images/LOGO.png"
      alt="Logo.ng"
      title="Devotana"
      [routerLink]="['/']"
    />
    <p [routerLink]="['/']">Devotana</p>

    <select (change)="onLanguageChange()" [(ngModel)]="selectedLanguage">
      <option value="en">English</option>
      <option value="ar">Arabic</option>
    </select>
  </div>

  <div class="user-actions" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>search</mat-icon>
    <mat-icon style="margin: 0 10px">notifications</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu" class="menu">
      <img src="../../../../assets/images/personal.jpeg" alt="" title="" />
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['../account-settings']">
        Account Settings
      </button>
      <button mat-menu-item>LeaderBoard</button>
      <button mat-menu-item>Statistics</button>
      <button mat-menu-item>LogOut</button>
    </mat-menu>
  </div>
</mat-toolbar>
