@mixin header-component($theme) {
  app-header {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 10px;
        font-size: 18px;
        color: $dark-color;
        transition: all 0.5s;
        cursor: pointer;
        font-weight: 400;
        &:hover {
          color: $ligheter-color;
        }
      }
    }
  }
}
