<div class="event-card">
  <h2 class="event-card__title">Today, 04:00 PM</h2>
  <span>Al-Ahli today's match</span>
  <div>
    <p style="font-size: 15px">From : Ahmed Ali</p>
  </div>

  <div class="event-card__patricipant">
    <p>Participants</p>
    <div fxLayout="row wrap" fxLayoutAlign="start center">
      <img src="../../../../../assets/images/Ellipse 11.png" alt="" title="" />
      <img src="../../../../../assets/images/Ellipse 11.png" alt="" title="" />
      <img src="../../../../../assets/images/Ellipse 11.png" alt="" title="" />
      <img src="../../../../../assets/images/Ellipse 11.png" alt="" title="" />
      <img src="../../../../../assets/images/Ellipse 11.png" alt="" title="" />
    </div>
  </div>
</div>
