<div class="favourite" fxLayout="column" fxLayoutAlign="center stretch">
  <p class="warn">You will receive notifications them</p>
  <a
    fxLayout="row"
    fxLayoutAlign="start center"
    [routerLink]="['../request-league']"
  >
    <img src="../../../../assets/images/request_league.png" /> Request a
    league</a
  >

  <div class="league-card" fxLayout="column" fxLayoutAlign="start stretch">
    <h1>Saudi-Arabian Clubs</h1>
    <mat-form-field appearance="outline">
      <mat-label>Clubs</mat-label>
      <mat-select multiple>
        <mat-option> item 1</mat-option>
        <mat-option> item 2</mat-option>
        <mat-option> item 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="league-card" fxLayout="column" fxLayoutAlign="start stretch">
    <h1>Saudi-Arabian Clubs</h1>
    <mat-form-field appearance="outline">
      <mat-label>Clubs</mat-label>
      <mat-select multiple>
        <mat-option> item 1</mat-option>
        <mat-option> item 2</mat-option>
        <mat-option> item 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="league-card" fxLayout="column" fxLayoutAlign="start stretch">
    <h1>Saudi-Arabian Clubs</h1>
    <mat-form-field appearance="outline">
      <mat-label>Clubs</mat-label>
      <mat-select multiple>
        <mat-option> item 1</mat-option>
        <mat-option> item 2</mat-option>
        <mat-option> item 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="actions">
    <button mat-raised-button color="primary" type="submit" class="default-btn">
      Save Changes
    </button>
    <button mat-raised-button color="primary" type="button" class="cancel-btn">
      Cancel
    </button>
  </div>
</div>
