<form
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  (submit)="handelTeamSubmitted()"
  [formGroup]="form"
>
  <h1>Forget Password</h1>

  <mat-form-field>
    <mat-label>Phone</mat-label>
    <lac-mat-country-selector
      matPrefix
      [selectorFor]="input"
    ></lac-mat-country-selector>
    <lac-mat-tel-input #input formControlName="phone"></lac-mat-tel-input>
  </mat-form-field>

  <button mat-raised-button color="primary" class="next" type="submit">
    Send
  </button>
</form>
