<section
  class="change-password"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
>
  <h1>Change Password</h1>

  <form fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-form-field appearance="outline">
      <mat-label>Old Password </mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>New Password </mat-label>
      <input matInput [type]="newHide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="newHide = !newHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="newHide"
      >
        <mat-icon>{{ newHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirm New Password </mat-label>
      <input matInput [type]="confirmHide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="confirmHide = !confirmHide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="confirmHide"
      >
        <mat-icon>{{ confirmHide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="start center" class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="default-btn"
      >
        Save Changes
      </button>
      <button
        mat-raised-button
        color="default"
        type="button"
        class="cancel-btn"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
