<div class="add-event">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Adding New Event</h1>
    <p (click)="handelOnCancel()">Cancel</p>
  </div>
  <form fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field appearance="outline">
      <mat-label>Event Name</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <h1>Members</h1>
    <div style="margin: 20px 0">
      <ul fxLayout="column" fxLayoutAlign="center stretch">
        <li fxLayout="row" fxLayoutAlign="start center">
          <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
          <span>Ahmed Ali (Host)</span>
        </li>
        <li fxLayout="row" fxLayoutAlign="start center">
          <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
          <span>Ahmed Ali</span>
        </li>
        <button
          mat-flat-button
          color="primary"
          type="button"
          class="add-member"
        >
          Add member
        </button>
      </ul>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Time</mat-label>

      <input
        placeholder="12hr format (default settings)"
        aria-label="12hr format"
        [ngxTimepicker]="default"
        readonly
        matInput
      />
      <ngx-material-timepicker #default></ngx-material-timepicker>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary">Publish Event</button>
    </div>
  </form>
</div>
