@import "themes.scss";

$light-color: #fff;
$dark-color: #0f183e;
$ligheter-color: #5c699e;
$background-color: #fcfcfc;
$gray-background: #f1f1f1;
$accent-color: #cf484f;
$darker-gray-background: #dee4ff;

//PRIMARY THEME
$mat-primary: (
  main: #0f183e,
  lighter: #586fe4,
  darker: #0f183e,
  200: #3d4fa1,
  // For slide toggle,
  contrast:
    (
      main: $light-color,
      lighter: $dark-color,
      darker: $light-color,
    ),
);
$theme-primary: mat-palette($mat-primary, main, lighter, darker);

//ACCENT THEME
$mat-accent: (
  main: #cf484f,
  lighter: #f4c7db,
  darker: #cf484f,
  200: #cf484f,
  // For slide toggle,
  contrast:
    (
      main: $light-color,
      lighter: $dark-color,
      darker: $light-color,
    ),
);

$theme-accent: mat-palette($mat-accent, main, lighter, darker);

//WARN_THEME
$mat-warn: (
  main: #ff0000,
  lighter: #ffb3b3,
  darker: #ff0000,
  200: #ff0000,
  // For slide toggle,
  contrast:
    (
      main: $light-color,
      lighter: $dark-color,
      darker: $light-color,
    ),
);
$theme-warn: mat-palette($mat-warn, main, lighter, darker);

$Eva-light-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

//$theme: mat-light-theme($primary,$accent,$warn);

@import "../../app/authentication/authentication-theme.scss";
@import "../../app/shared/components/header/header.component.scss";
@import "../../app/pages/countries/countries-theme.scss";
@import "../../app/pages/cities/cities-theme.scss";

@mixin componnent-theme($theme) {
  @include authentication-theme($theme);
  @include header-component($theme);
  @include country-component($theme);
  @include cities-component($theme);
}
@include angular-material-theme($Eva-light-theme);
@include componnent-theme($Eva-light-theme);
