<div class="team-card">
  <h1>Test Your Loyalty</h1>
  <ul>
    <li fxLayout="row" fxLayoutAlign="space-between center">
      <div class="team-info" fxLayout="row" fxLayoutAlign="start center">
        <img src="../../../../../assets/images/teams.png" alt="" title="" />
        <div>
          <h1>Al-tawaan</h1>
          <span>Saudi-arabia</span>
        </div>
      </div>
      <div class="loyal">
        <p>75% Loyal</p>
      </div>
    </li>
    <li fxLayout="row" fxLayoutAlign="space-between center">
      <div class="team-info" fxLayout="row" fxLayoutAlign="start center">
        <img src="../../../../../assets/images/teams.png" alt="" title="" />
        <div>
          <h1>Al-tawaan</h1>
          <span>Saudi-arabia</span>
        </div>
      </div>
      <div class="loyal">
        <p>75% Loyal</p>
      </div>
    </li>
    <li fxLayout="row" fxLayoutAlign="space-between center">
      <div class="team-info" fxLayout="row" fxLayoutAlign="start center">
        <img src="../../../../../assets/images/teams.png" alt="" title="" />
        <div>
          <h1>Al-tawaan</h1>
          <span>Saudi-arabia</span>
        </div>
      </div>
      <div class="loyal">
        <p>75% Loyal</p>
      </div>
    </li>
  </ul>
</div>
