.info {
  margin-bottom: 20px;
}

.btn {
  padding: 8px;
  background: #009d35;
  margin: 0 10px;
  margin-top: -25px;
}

.default-btn {
  padding: 5px 20px;
}

.cancel-btn {
  background-color: transparent;
  color: #0f183e;
  margin: 0 10px;
  padding: 5px 20px;
}

.actions {
  margin: 20px 0;
}
