<section
  class="profile-settings"
  fxLayout="column"
  fxLayoutAlign="start stretch"
>
  <h1>User info</h1>
  <form [formGroup]="form" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="User Name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone</mat-label>
      <lac-mat-country-selector
        matPrefix
        [selectorFor]="input"
      ></lac-mat-country-selector>
      <lac-mat-tel-input #input formControlName="phone"></lac-mat-tel-input>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
    <h1 class="info">Location info</h1>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Country</mat-label>
      <mat-select>
        <mat-option value="primary">Primary</mat-option>
        <mat-option value="accent">Accent</mat-option>
        <mat-option value="warn">Warn</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>City</mat-label>
      <mat-select>
        <mat-option value="primary">Primary</mat-option>
        <mat-option value="accent">Accent</mat-option>
        <mat-option value="warn">Warn</mat-option>
      </mat-select>
    </mat-form-field>
    <h1 class="info">Account Verification</h1>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Ex. pat@example.com" />
      </mat-form-field>
      <button mat-raised-button color="primary" class="btn" type="button">
        Verify
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="actions">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="default-btn"
      >
        Save Changes
      </button>
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="cancel-btn"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
