<section class="team-info">
  <h1>Team Info</h1>
  <div class="team-info__header" fxLayout="row" fxLayoutAlign="start center">
    <div class="info" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../assets/images/club1.png" alt="" title="" />
      <div fxLayout="column" fxLayoutAlign="start start">
        <h1>Al-Ahli SC</h1>
        <span> Saudi Arabia </span>
      </div>
    </div>
  </div>
  <div class="team-info__coach">
    <h1>Team Coach</h1>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../assets/images/Ellipse 11.png" alt="" title="" />
      <p>John Smith</p>
    </div>
  </div>
  <div class="team-info__players">
    <h1>Team Players</h1>
    <div class="player-card" fxLayout="column" fxLayoutAlign="start start">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="../../../assets/images/Ellipse 11.png" alt="" title="" />
        <p>Mohamed Ali</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="../../../assets/images/Ellipse 11.png" alt="" title="" />
        <p>Mohamed Ali</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="../../../assets/images/Ellipse 11.png" alt="" title="" />
        <p>Mohamed Ali</p>
      </div>
    </div>
  </div>
  <div class="team-info__transferred">
    <h1>Transferred Players</h1>
    <div fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../assets/images/Ellipse 11.png" alt="" title="" />
      <div fxLayout="column" fxLayoutAlign="start start">
        <p>Mohamed Ali</p>
        <span>Transfer: Al-Ahli, Sep 2020 </span>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
