@mixin team-info-component($theme) {
  app-team-info {
    .team-info {
      h1 {
        color: $dark-color;
        font-weight: 500;
        margin: 0;
        padding: 0;
        margin: 20px 0;
      }
      &__header {
        background: url("../../../assets/images/team-info.png") no-repeat center
          center;
        background-size: cover;
        padding: 20px;
        .info {
          div {
            padding: 0 10px;
            h1 {
              color: $light-color;
              font-size: 20px;
              font-weight: 500;
            }
            span {
              color: $light-color;
              font-size: 15px;
              margin: 5px 0;
            }
          }
        }
      }
      &__coach {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
        border-bottom: 1px solid #bfbfbf;
        h1 {
          color: $dark-color;
          font-weight: 200;
          font-size: 20px;
          margin: 20px 0;
        }
        div {
          padding: 0 20px;
          p {
            margin: 0 20px;
            font-size: 18px;
            color: $ligheter-color;
          }
        }
      }
      &__players {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
        border-bottom: 1px solid #bfbfbf;
        h1 {
          color: $dark-color;
          font-size: 20px;
          font-weight: 200;
          margin: 20px 0;
        }
        .player-card {
          div {
            margin: 10px 0;
            padding: 0 20px;
            img {
            }
            p {
              margin: 0 20px;
              font-size: 18px;
              color: $ligheter-color;
            }
          }
        }
      }
      &__transferred {
        width: 90%;
        margin: 0 auto;
        padding: 20px 0;
        h1 {
          color: $dark-color;
          font-size: 20px;
          font-weight: 200;
          margin: 20px 0;
        }
        div {
          padding: 0 20px;
          img {
          }
          div {
            padding: 0 20px;
            p {
              margin: 0;
              padding: 0;
              font-size: 18px;
              color: $ligheter-color;
            }
            span {
              color: #ccc;
              font-size: 15px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}
