<section class="join-room">
  <div
    class="join-room__header"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <h1>Al-Ahli today's match</h1>
    <button mat-raised-button color="primary">
      <img src="../../../../assets/images/share.png" /> Share
    </button>
  </div>

  <div class="join-room__list">
    <h1>Moderators</h1>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayout.xs="column wrap"
      style="padding: 20px 0"
    >
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
      />
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
      />
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
      />
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
      />
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
      />
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
      />
    </div>
    <h1>Others in the room</h1>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start center"
      fxLayout.xs="column wrap"
      style="padding: 20px 0"
    >
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
        class="others"
      />
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
        class="others"
      />
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
        class="others"
      />
      <img
        src="../../../../assets/images/Ellipse 11.png"
        alt="user.png"
        title="User Name"
        class="others"
      />
    </div>
  </div>
</section>
