<app-header></app-header>
<section>
  <div class="container">
    <div
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      fxLayout.xs="column wrap"
      fxLayoutGap="40px"
      fxLayoutAlign.xs="space-around stretch"
      fxLayout.sm="column wrap"
      fxLayoutAlign.sm="start stretch"
      fxLayout.md="row wrap"
      fxLayoutAlign.md="start start"
      fxLayoutGap.md="0"
      class="pages-content"
    >
      <app-account-setting-navbar
        fxFlex="20%"
        fxFlex.md="25%"
      ></app-account-setting-navbar>
      <div fxFlex="60%" fxFlex.md="75%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
