<section
  class="description"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div class="container">
    <div class="description__desc" fxFlex="60">
      <h1>Devotana</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
      <div class="description__getApp">
        <button mat-raised-button color="primary">
          <img src="../../../assets/images/NoPath.jpg" /> Get it on Play Store
        </button>
        <button mat-raised-button color="primary">
          <img src="../../../assets/images/NoPath - Copy (3).jpg" /> Get it on
          Apple Store
        </button>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="custom-line"
      >
        <span class="line"></span>
        <span class="or">OR</span>
        <span class="line"></span>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="continue"
        (cllick)="handelAuth()"
      >
        Continue using Website
      </button>
    </div>
    <div fxFlex="40" class="img">
      <img src="../../../assets/images/Group 336.jpg" alt="" title="" />
    </div>
  </div>
</section>
