<section class="league-statics">
  <h1>Statistics</h1>

  <mat-tab-group mat-align-tabs="center" [selectedIndex]="1">
    <mat-tab label="Top Players">
      <span>All these statistics are based on fans votes</span>
      <app-top-playes></app-top-playes>
    </mat-tab>
    <mat-tab label="Top Coaches" active="true">
      <span>All these statistics are based on fans votes</span>
      <app-top-playes></app-top-playes>
    </mat-tab>
    <mat-tab label="Top Goals ">
      <span>All these statistics are based on fans votes</span>
      <app-top-playes></app-top-playes>
    </mat-tab>
  </mat-tab-group>
</section>
