<section
  class="rates"
  fxLayout="row wrap"
  fxLayoutAlign="center center"
  fxLayout.xs="row wrap"
  fxLayoutAlign.xs="space-around stretch"
  fxLayout.sm="row wrap"
  fxLayoutAlign.sm="space-around stretch"
  fxLayout.md="row wrap"
  fxLayoutAlign.md="center center"
>
  <div
    class="rates__card"
    fxFlex.lg="30%"
    fxFlex.xl="30%"
    fxFlex.xs="100%"
    fxFlex.sm="30"
    fxFlex.md="30%"
    (click)="onHandelRating('player')"
  >
    <img src="../../../../../assets/images/rate_palyer_2.png" />
    <p>Rate Players</p>
  </div>
  <div
    class="rates__card"
    fxFlex.lg="30%"
    fxFlex.xl="30%"
    fxFlex.xs="100%"
    fxFlex.sm="30"
    fxFlex.md="30%"
    (click)="onHandelRating('goal')"
  >
    <img src="../../../../../assets/images/rate_player.png" />
    <p>Rate Goals</p>
  </div>
  <div
    class="rates__card"
    fxFlex.lg="30%"
    fxFlex.xl="30%"
    fxFlex.xs="100%"
    fxFlex.sm="30"
    fxFlex.md="30%"
    (click)="onHandelRating('coach')"
  >
    <img src="../../../../../assets/images/rate_coach.png" />
    <p>Rate Coach</p>
  </div>
  <div
    class="rates__card"
    fxFlex.lg="30%"
    fxFlex.xl="30%"
    fxFlex.xs="100%"
    fxFlex.sm="30"
    fxFlex.md="30%"
    (click)="onHandelRating('changes')"
  >
    <img src="../../../../../assets/images/rate-plan.png" />
    <p>Rate Changes</p>
  </div>
</section>
