@mixin profile-component($theme) {
  app-profile {
    .profile-avatar {
      padding: 10px 20px;
      div {
        h1 {
          color: $dark-color;
          padding: 0;
          margin: 0;
          font-weight: 400;
        }
        a {
          color: $dark-color;
          font-size: 20px;
          font-weight: 300;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.5s;
          &:hover {
            color: $ligheter-color;
          }
        }
      }
      &__details {
        padding: 20px;
        background-color: $gray-background;
        margin: 20px 0;
        border-radius: 10px;
        &__bio {
          .bio-img {
            img {
              width: 150px;
              border-radius: 50%;
            }
            .info {
              padding: 0 10px;
              p {
                margin: 0;
                padding: 0;
                margin: 5px 0;
                color: $dark-color;
                font-size: 20px;
                font-weight: bold;
                @media (max-width: 767px) {
                  font-size: 17px;
                }
              }
              span {
                color: $ligheter-color;
                font-size: 16px;
                font-weight: 200;
                @media (max-width: 767px) {
                  font-size: 15px;
                }
              }
            }
          }

          .bio-desc {
            padding: 20px 0;
            h1 {
              color: $dark-color;
              font-weight: bold;
              margin: 0;
              padding: 0;
              margin: 10px 0;
              font-weight: 300;
            }
            p {
              color: $ligheter-color;
              margin: 0;
              padding: 0;
              font-weight: 300;
              font-size: 18px;
            }
          }
        }
        &__records {
          min-height: 200px;
          .followers {
            color: $accent-color;
            padding: 0 20px;
            span {
            }
            p {
              margin: 0;
              padding: 0;
            }
          }
          .following {
            color: $accent-color;
            padding: 0 20px;
            span {
            }
            p {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    .predictions-card {
      padding: 0 20px;
      margin: 10px 0;
      .club {
        img {
          width: 80px;
        }
        p {
          font-size: 18px;
          color: $dark-color;
          padding: 0 50px;
        }
      }
    }

    .team-card {
      h1 {
        background-color: #dee4ff;
        color: $dark-color;
        text-align: center;
        padding: 0;
        margin: 0;
        padding: 20px 0;
        font-size: 20px;
      }
      ul {
        margin: 0;
        padding: 0;
        width: 60%;
        margin: 0 auto;
        list-style: none;
        @media (max-width: 767px) {
          width: 100%;
        }
        li {
          border-bottom: 1px solid #ccc;
          padding: 15px 0;
          &:last-child {
            border-bottom: 0;
          }
          .team-info {
            img {
              width: 70px;
            }
            div {
              padding: 0 10px;
              h1 {
                margin: 0;
                padding: 0;
                color: $dark-color;
                font-size: 18px;
                margin-bottom: 5px;
                background-color: transparent;
              }
              span {
                font-size: 14px;
                color: $ligheter-color;
              }
            }
          }
          .loyal {
            p {
              color: green;
              font-size: 18px;
            }
          }
        }
      }
    }
    .profile-verfication {
      background-color: $light-color;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
      padding: 0 20px;
      @media (max-width: 767px) {
        margin-top: 20px;
      }
      form {
        padding: 10px;
        width: 70%;
        margin: 0 auto;
        h1 {
          text-align: center;
          margin: 0;
          padding: 0;
          margin: 30px 0;
        }
      }
      &__info {
        h1 {
          margin: 0;
          padding: 0;
          margin: 20px 0;
          color: $accent-color;
          font-size: 20px;
          font-weight: 400;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          padding: 0 20px;
          li {
            margin: 10px 0;
            color: $dark-color;
            font-size: 18px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
