<div class="match-card" fxLayout="column" fxLayoutAlign="space-between stretch">
  <p fxLayout="row" fxLayoutAlign="space-between center">
    <span class="league">Saudi Arabian League </span>
  </p>

  <ul fxLayout="row" fxLayoutAlign="space-around center" class="list">
    <li>Al-Ahli</li>
    <li>2 - 1</li>
    <li>Al-Helal</li>
  </ul>

  <ul fxLayout="row" fxLayoutAlign="space-around  center" class="match-detail">
    <li fxLayout="row" fxLayoutAlign="space-around  center">
      <img src="../../../../../assets/images/time-match.png" />
      <p>May 12 8:00 PM</p>
    </li>
    <li fxLayout="row" fxLayoutAlign="space-between  center">
      <img src="../../../../../assets/images/staduim.png" />
      <p>King Stadium</p>
    </li>
  </ul>

  <div class="predict-match" fxLayout="row" fxLayoutAlign="center center">
    <h1>Show Details & Predict</h1>
  </div>
</div>
