<section class="leaderboard">
  <h1>Devotana LeaderBooard</h1>
  <div class="leaderboard__topleaders">
    <div class="leaderboard__topleaders__item">item 1</div>
    <div class="leaderboard__topleaders__item">item 2</div>
    <div class="leaderboard__topleaders__item">item 3</div>
  </div>

  <div class="leaderboard__leaderboard-card">
    <div class="info">
      <img src="" alt="" title="" />
      <h1>Leader Name</h1>
    </div>
    <div>
      <p>500 points</p>
    </div>
  </div>
</section>
