<section class="leaderboard">
  <h1>Devotana LeaderBooard</h1>
  <div
    class="leaderboard__topleaders"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="30px"
  >
    <div class="leaderboard__topleaders__item" fxFlex="33.333333">
      <img src="../../../../assets/images/second-rate.png" class="imgRate" />
      <div>
        <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
        <p>Ahmed A.</p>
        <span>7500 Points</span>
      </div>
    </div>
    <div class="leaderboard__topleaders__item active" fxFlex="33.333333">
      <img src="../../../../assets/images/first-rate.png" class="imgRate" />
      <div>
        <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
        <p>Ahmed A.</p>
        <span>7500 Points</span>
      </div>
    </div>
    <div class="leaderboard__topleaders__item" fxFlex="33.333333">
      <img src="../../../../assets/images/third-rate.png" class="imgRate" />
      <div>
        <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
        <p>Ahmed A.</p>
        <span>7500 Points</span>
      </div>
    </div>
  </div>

  <div
    class="leaderboard__leaderboard-card"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="info" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
      <h1>Ali Ahmed</h1>
    </div>
    <div>
      <p>500 points</p>
    </div>
  </div>

  <div
    class="leaderboard__leaderboard-card"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="info" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
      <h1>Ali Ahmed</h1>
    </div>
    <div>
      <p>500 points</p>
    </div>
  </div>

  <div
    class="leaderboard__leaderboard-card"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div class="info" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
      <h1>Ali Ahmed</h1>
    </div>
    <div>
      <p>500 points</p>
    </div>
  </div>
</section>
