<section class="features">
  <div class="container">
    <h1>App Features</h1>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      fxLayout.xs="column wrap"
      fxLayoutGap="20px"
    >
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
      <app-feature-card></app-feature-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button color="primary">
        <img src="../../../assets/images/NoPath.jpg" /> Get it on Play Store
      </button>
      <button mat-raised-button color="primary">
        <img src="../../../assets/images/NoPath - Copy (3).jpg" /> Get it on
        Apple Store
      </button>
    </div>
  </div>
</section>
