<footer>
  <div class="container">
    <div
      fxLayout="row"
      fxLayoutAlign="space-between center"
      fxLayout.xs="column wrap"
      fxLayoutGap="20px"
    >
      <div fxFlex="40">
        <h1>Devotana</h1>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum.
        </p>
      </div>
      <div>
        <h1>Support</h1>
        <p>Contact Us</p>
        <p>Terms & Conditions</p>
        <p>Privacy Policies</p>
      </div>
      <div>
        <h1>Social Media Links</h1>
        <ul fxLayout="row" fxLayoutAlign="start center">
          <li>
            <img
              src="../../../../assets/images/facebook (1).png"
              alt=""
              title="facebook"
            />
          </li>
          <li>
            <img
              src="../../../../assets/images/instagram.png"
              alt=""
              title="instgram"
            />
          </li>
          <li>
            <img
              src="../../../../assets/images/twitter (1).png"
              alt=""
              title="twitter"
            />
          </li>
        </ul>
      </div>
    </div>
    <span>© 2021 Devotana, All rights received</span>
  </div>
</footer>
