<section class="standings">
  <div
    class="standings__cover"
    fxLayout="column"
    fxLayoutAlign="center stretch"
  >
    <ul fxLayout="row" fxLayoutAlign="space-around center">
      <li>Al-Ahly</li>
      <li>-</li>
      <li>Al-Helal</li>
    </ul>
  </div>

  <mat-tab-group mat-align-tabs="center" [selectedIndex]="0">
    <mat-tab label="Details">
      <app-league-standings-details></app-league-standings-details>
    </mat-tab>
    <mat-tab label="Predictions" active="true">
      <app-league-standings-predictions></app-league-standings-predictions>
    </mat-tab>
    <mat-tab label="Rates">
      <app-league-standings-rates></app-league-standings-rates>
    </mat-tab>
  </mat-tab-group>
</section>
