<section class="contactUs" fxLayout="column" fxLayoutAlign="center center">
  <form
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
    (submit)="onnHandelSubmitted()"
  >
    <h1>Contact Us</h1>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Your Name</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Your Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Your Message</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" class="login" type="submit">
      Send Message
    </button>
  </form>
</section>
<router-outlet></router-outlet>
