<div class="league-card">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="../../../../../assets/images/NoPath - Copy (3).jpg" />
          <p>Saudi Arabian League</p>
        </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p class="time">05:00 PM</p>
        <ul fxLayout="row" fxLayoutAlign="space-between center">
          <li>Al-ahly</li>
          <li>-</li>
          <li>Al-helal</li>
        </ul>
      </div>
      <div class="league-card-footer">
        <h1>View Standings</h1>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
