<form
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  *ngIf="!switchForms"
  (submit)="handelTeamSubmitted()"
  [formGroup]="form"
>
  <h1>Create Account</h1>
  <p>Welcome To Devotana</p>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone</mat-label>
    <lac-mat-country-selector
      matPrefix
      [selectorFor]="input"
    ></lac-mat-country-selector>
    <lac-mat-tel-input #input formControlName="phone"></lac-mat-tel-input>
  </mat-form-field>

  <button mat-raised-button color="primary" class="next" type="submit">
    Sign Up
  </button>
  <p (click)="handelLogin()">Already Have Account? <a>Login</a></p>
</form>
