<form
  [formGroup]="form"
  (submit)="onSubmitted()"
  fxLayout="column"
  fxLayoutAlign="center stretch"
  fxLayoutGap="10"
>
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="Email"
      required
    />
    <mat-error *ngIf="isValid('Email', 'required') || isValid('Email', 'email')"
      >Enter Valid Email !</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="Password"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="isValid('Password', 'required')"
      >password is requird !</mat-error
    >
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
  >
    Login
  </button>
</form>
