<form
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  *ngIf="!switchForms"
  (submit)="onSubmitBasicForm()"
  [formGroup]="form"
>
  <h1>Account Information</h1>

  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput type="text" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Gender</mat-label>
    <mat-select>
      <mat-option value="one">Male</mat-option>
      <mat-option value="two">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <mat-select>
      <mat-option value="one">Male</mat-option>
      <mat-option value="two">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <mat-select>
      <mat-option value="one">Male</mat-option>
      <mat-option value="two">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" class="login">Next</button>
</form>

<form
  *ngIf="switchForms"
  fxLayout="column"
  fxLayoutAlign="space-around stretch"
  (submit)="handelTeamSubmitted()"
>
  <h1>Choose Favorite Teams</h1>
  <mat-radio-group
    aria-label="Select an option"
    fxLayout="column"
    fxLayoutAlign="center start"
    fxLayoutGap="20px"
    color="primary"
    [ngModelOptions]="{ standalone: true }"
    [(ngModel)]="formValue.type"
  >
    <mat-radio-button value="general">I'm a General Fan</mat-radio-button>
    <mat-radio-button value="specific"
      >I'm a Fan for a specific Club</mat-radio-button
    >
  </mat-radio-group>

  <div
    class="info top-mat"
    *ngIf="formValue.type == 'specific'"
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
  >
    <mat-form-field appearance="outline">
      <mat-label>Saudi-Arabian Clubs</mat-label>
      <mat-select>
        <mat-option value="one">option 1</mat-option>
        <mat-option value="two">option 2</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Italian Clubs</mat-label>
      <mat-select>
        <mat-option value="one">option 1 </mat-option>
        <mat-option value="two">option 2 </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="actions" fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-raised-button
      class="back"
      type="button"
      (click)="switchForms = !switchForms"
    >
      Back
    </button>
    <button mat-raised-button color="primary" class="next" type="submit">
      Next
    </button>
  </div>
</form>
