@mixin landing-page-theme($theme) {
  app-landing-page {
    .description {
      width: 100%;
      padding: 40px 0;
      min-height: 400px;
      height: auto;
      background: url("../../assets/images/background-description.png")
        no-repeat center center;

      &__desc {
        h1 {
          color: $dark-color;
          font-weight: bold;
          font-size: 30px;
          text-align: justify;
        }
        p {
          font-size: 18px;
          color: $ligheter-color;
          text-align: justify;
        }
        button {
          color: #fff;
          margin: 0 10px;
          padding-top: 5px;
          padding-bottom: 5px;
          img {
            width: 25px;
          }
          &:first-child {
            margin: 0;
          }
          @media (max-width: 767px) {
            margin: 20px 0;
          }
        }
      }
    }
  }
}
