<nav>
  <ul>
    <li fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../../../assets/images/home.png" />
      <a [routerLink]="['./']" routerLinkActive="active">home</a>
    </li>
    <li fxLayout="row" fxLayoutAlign="start center" routerLinkActive="active">
      <img src="../../../../../assets/images/chat_audio.png" /> Voice Rooms
    </li>
    <li fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../../../assets/images/league.png" />
      <a [routerLink]="['./leagues']" routerLinkActive="active">Leagues</a>
    </li>
    <li fxLayout="row" fxLayoutAlign="start center" routerLinkActive="active">
      <img src="../../../../../assets/images/profile.png" />
      <a [routerLink]="['./profile']" routerLinkActive="active">Profile</a>
    </li>
  </ul>
</nav>
