<nav>
  <div class="user-data">
    <img src="../../../../assets/images/Ellipse 11.png" alt="" title="" />
    <h1>Ahmed Ali</h1>
  </div>
  <ul>
    <li fxLayout="row" fxLayoutAlign="start center">
      <a
        [routerLink]="['./']"
        routerLinkActive="active"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <img
          src="../../../../assets/images/profile-settings.png"
          alt=""
          title=""
        />
        Profile Settings
      </a>
    </li>
    <li fxLayout="row" fxLayoutAlign="start center" routerLinkActive="active">
      <img src="../../../../assets/images/teams_proile.png" alt="" title="" />
      <a [routerLink]="['./favourite-team']">Favorite Teams</a>
    </li>
    <li fxLayout="row" fxLayoutAlign="start center">
      <img
        src="../../../../assets/images/change_password.png"
        alt=""
        title=""
      />
      <a routerLinkActive="active" [routerLink]="['./change-password']"
        >Change Password</a
      >
    </li>
  </ul>
</nav>
