<div class="favourite" fxLayout="column" fxLayoutAlign="center stretch">
  <p class="warn">You will receive notifications them</p>
  <a
    fxLayout="row"
    fxLayoutAlign="start center"
    [routerLink]="['../request-league']"
  >
    <img src="../../../../assets/images/request_league.png" /> Request a
    league</a
  >

  <div class="league-card">
    <h1>Saudi-Arabian Clubs</h1>
    <div class="club-detail" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../../assets/images/club1.png" />
      <p>Alahli</p>
    </div>
  </div>

  <div class="league-card">
    <h1>Saudi-Arabian Clubs</h1>
    <div class="club-detail" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../../assets/images/club1.png" />
      <p>Alahli</p>
    </div>
  </div>

  <div class="league-card">
    <h1>Saudi-Arabian Clubs</h1>
    <div class="club-detail" fxLayout="row" fxLayoutAlign="start center">
      <img src="../../../../assets/images/club1.png" />
      <p>Alahli</p>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="actions">
    <button mat-raised-button color="primary" type="submit" class="default-btn">
      Save Changes
    </button>
    <button mat-raised-button color="primary" type="button" class="cancel-btn">
      Cancel
    </button>
  </div>
</div>
