<section class="rooms-list">
  <div
    class="rooms-list__header"
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1>Voice Rooms</h1>
      <p [routerLink]="['./upcoming-events']" style="cursor: pointer">
        Upcoming Events
      </p>
    </div>
    <button mat-raised-button color="primary" (click)="openDialog()">
      New Room
    </button>
  </div>

  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayout.xs="column wrap"
    style="padding: 20px 0"
  >
    <app-room-card
      fxFlex="25"
      fxFlex.sm="33.33333"
      fxFlex.md="33.33333"
      fxFlex.lg="31.33333"
    ></app-room-card>
    <app-room-card
      fxFlex="25"
      fxFlex.sm="33.33333"
      fxFlex.md="33.33333"
      fxFlex.lg="31.33333"
    ></app-room-card>
    <app-room-card
      fxFlex="25"
      fxFlex.sm="33.33333"
      fxFlex.md="33.33333"
      fxFlex.lg="31.33333"
    ></app-room-card>
    <app-room-card
      fxFlex="25"
      fxFlex.sm="33.33333"
      fxFlex.md="33.33333"
      fxFlex.lg="31.33333"
    ></app-room-card>
    <app-room-card
      fxFlex="25"
      fxFlex.sm="33.33333"
      fxFlex.md="33.33333"
      fxFlex.lg="31.33333"
    ></app-room-card>
    <app-room-card
      fxFlex="25"
      fxFlex.sm="33.33333"
      fxFlex.md="33.33333"
      fxFlex.lg="31.33333"
    ></app-room-card>
    <app-room-card
      fxFlex="25"
      fxFlex.sm="33.33333"
      fxFlex.md="33.33333"
      fxFlex.lg="31.33333"
    ></app-room-card>
    <app-room-card
      fxFlex="25"
      fxFlex.sm="33.33333"
      fxFlex.md="33.33333"
      fxFlex.lg="31.33333"
    ></app-room-card>
  </div>
</section>
