@mixin authentication-theme($theme) {
  app-authentication {
    form {
      margin: 50px auto;
      width: 50%;
      background-color: $light-color;
      box-shadow: 0 0 0 4px #ccc;
      padding: 20px;
      border-radius: 10px;
      @media (max-width: 767px) {
        form {
          width: 100%;
        }
      }
      button[type="submit"] {
        padding: 5px !important;
      }
    }
  }
}
