<from
  [formGroup]="form"
  fxLayout="column"
  fxLayoutAlign="center stretch"
  class="city-form"
  (submit)="handelSubmitted()"
>
  <h1>{{ formType }} City</h1>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Country Name</mat-label>
    <input matInput placeholder="name" formControlName="name" required />
    <mat-error *ngIf="isValid('name', 'required') || isValid('Email', 'email')"
      >name is required !</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Country</mat-label>
    <mat-select formControlName="countryId">
      <mat-option *ngFor="let country of countries" [value]="country.id">
        {{ country.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="isValid('countryId', 'required')"
      >Country is required !</mat-error
    >
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="form.invalid"
    class="country-form__submit"
  >
    Save
  </button>
</from>
